
*{
    margin: auto;
    align-content: center;
}
body{
    margin-top: 100px;
    background-color: #e7e7e7;
}

table, tr,td{
    border: 1px solid black;
    border-collapse:collapse;
    
}

.head{
    width:40px;
    height:40px;
    text-align:center;
    
}
.hoving-1:hover{
    cursor:default;
    background-color: #13f1e6;
}
.hoving-2:hover{
    cursor: default;
    background-color: rgb(221, 22, 221);
}
.head-color{
    background-color: #007c72;
    color: white;
}

.no{
    width:40px;
    text-align:center
}

.nama{
    width: 300px;
    padding: 10px;
}